


nav > section > div {
    text-align: center;
    border: 2px solid darkslateblue;
    background-color:rgba(8, 29, 123, 0.5);
    opacity: 1.0;
    padding:1em;
    width: 2em;
    height:1em;
    margin: 4px 4px 4px 4px;
    display: inline-block;
    
    
    text-decoration:none;
    
}

#divBusca {

    
    position: relative;
    margin-left:  200px;
    margin-top: -30px;


}





body{
    background-color: lightgray;
    opacity: 0.8;
}
.Description {
    color: black;
    height: 300px;
    width: 700px;
    font-family: aboreto;
    text-align: left;
    
    background-color: lightgrey;
    position: absolute;
    margin-left: 0%;
    background: transparent;
    
    top:300px;
    transition-delay: 2s;
}




    


img{
    border: 2px solid  black;
    border-radius: 20% ;
    transition-duration: 2s;
    

   
   
    
   



}








 .self-image   {
    border: 5px solid  green;
    border-radius: 0;
    background-color: lightblue;
    transition:1s;
    

    margin-left: 50%;
   
    width:303px

    
}

div > h1 {
    font-family: fantasy;
    font-size: 30px;
    color: black;
    text-align: center;

}
div > ul > li {
    font-family: 'Times New Roman', Times, serif;
    transition:2s;
    padding: 1em ;
    border: 2px solid grey;
    background-color: aqua;
  
    text-align: center;
   

}

 div > ul :hover {
    
    font-size: 20px;
    font-weight: 300;
    transition: cubic-bezier(0.075, 0.82, 0.165, 1);


}

footer > a {
   padding: 2px 4px 2px 4px;
}